.SignIn_form {
display:flex;
flex-direction:column;
grid-gap:16px;
gap:16px
}
.SignIn_buttons { 
    display:flex;
    grid-gap:20px;
    gap:20px
}
.SignIn_loginCard {
    background:var(--label-white);
    border:1px solid 
    var(--signin-border);
    box-sizing:border-box;
    box-shadow:0 16px 48px rgba(0,84,167,.08);
    border-radius:24px;padding:40px;width:450px
}
.SignIn_logo {
    display:flex;align-items:center;margin-bottom:24px
}