.form-box{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  border: 1px;
  border-radius: 45px;
  border-color: hotpink;
  border-style: solid;
  background-color: pink;
  height: 400px;
  width: 700px;
  padding: 1em;

}
.post-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  border: 1px;
  border-radius: 45px;
  border-color: hotpink;
  border-style: solid;
  background-color: pink;
  height: 400px;
  width: 700px;
  padding: 1em;
}
Form{
  width:30rem;
}