ul {
  display: flex;
  justify-content: space-between;
  list-style-type: georgian;
}

li {
  font-size: .75rem;
}
button {
  padding: 10px;
  background-blend-mode: color-burn;
  border-radius: 240px;
  border-width: 50;
}

.navBar {
  background: mediumslateblue;

  box-shadow: 4px 2px 5px blue;
  color: white;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
}

.navBar button {
  background: mediumslateblue;
  border: 2.5px solid rgb(255, 255, 255);
  color: white;
  padding: 0.4rem 0.5rem;
}

.navBar button:hover {
  background: transparent;
  color: rgb(232, 238, 244);
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
