ul {
  display:inline-block;
  justify-content: baseline;
  list-style-type: none;
}

li {
  font-size: 1rem;
}

.navBar {
  background-image: url("./TopHorizontal.png");
  box-shadow: 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  color: skyblue;
  margin-bottom: 0rem;
  margin-left: 0rem;
  padding: 1rem 3rem;
}

.navBar button {
  position: fixed;
  background-image: url("../../Images/sunder-muthukumaran-fd6K_OFlnRA-unsplash.jpg");
  background-position: center;
  background-size: contain;
  border:1px dotted hotpink;
  color: silver;
  padding: .025rem 0.6rem;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
}
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display:list-item;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: flex;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}