footer {
  background-image: url("./Bottom Horizontal.jpg");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: fill;
  position: fixed;
  color: silver;
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
}
