footer {
  background-image: url("./Bottom Horizontal.jpg");
  background-position: 0;
  background-repeat: no-repeat;
  background-size: fill;
  position: fixed;
  color: silver;
  bottom: 0;
  box-shadow: 4px 2px 5px rgb(255, 251, 251);  font-size: 1.2rem;
  left: 0;
  padding: .0rem;
  text-align: center;
  width: 100%;
}
