div {
    text-emphasis-color: silver;
    background-color: transparent;
    scroll-padding:.65rem;
    margin: auto;

}
h1 {
    background-color: transparent;

    text-align: right;
    font-size: x-large;

}

form {    


    background-color: transparent;
    background-position: center;
}
form.form {

    font-style: italic;

    background-position: center;
    background-color: transparent;

}
body {
    border: transparent;

    align-items: right;
    background-color: transparent;
    background-position: center;
    
}

input {
    color: silver;
}
