div {
    text-emphasis-color: rgb(171, 205, 227);
    background-color: transparent;
    scroll-padding:.65rem;
    margin: auto;

}
h1 {
    -webkit-text-fill-color: rgb(255, 255, 255);
    text-align: Left;
    font-size: x-large;

}
h2 {
    -webkit-text-fill-color: rgb(255, 255, 255);
    text-align: Center;
    font-size: x-large;

}

form {    


    background-color: transparent;
    background-position: center;
}
form.form {

    font-style: italic;

    background-position: center;
    background-color: transparent;

}
body {
    border: transparent;

    align-items: right;
    background-color: transparent;
    background-position: center;
    
}

input {
    color: silver;
}
