@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  display: flex;
  justify-content: space-between;
  list-style-type: georgian;
}

li {
  font-size: 20;
}

.navBar button:hover {
  background: transparent;
  color: rgb(232, 238, 244);
  cursor: pointer;
}
button {
  padding: 10px;
  background-blend-mode: color-burn;
  border-radius: 240px;
  border-width: 50;
}
.navBar button {
  background-image: url('./Images/ralph.jpg');
  background-size: cover;
  border: 1px solid rgb(42, 202, 138);
  color: white;
  padding: 0.4rem 0.5rem;
}
.navBar {
  background-image: url('./Images/markus.jpg');
  background-size: contain;
  box-shadow: 4px 2px 5px blue;
  color: white;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
}
html {
  background-image: url('./Images/ralph.jpg');
  height: fit-content;
  width: fit-content;
  grid-template-columns: min-content;
  box-sizing: border-box;
  font-family: sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 1px dotted steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
footer {
  position:fixed;
  background-image: url('./Images/engin.jpg');
  align-content: center;
  bottom: 0;
  font-size: 1rem;
  padding: 1.5rem;
  right: 0;
  text-align: center;
  width: 100%;
}
button {
  background-size: auto;
}