@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");


*,
*::before,
*::after {
  background-color: transparent;
  background-size: auto;
  margin: auto;
  font-size: .77rem;
  padding: .77rem;
  
}

h1 {
  text-align: left;
}

body {

  background-image: url('./Imgs/Lake.jpeg');
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto;
  border: 3px solid black;
}

label {
  margin: auto;
  align-items: center; 
}
html {
  /* background: radial-gradient(circle, hsla(120, 93%, 84%, 1) 0%, hsla(185, 90%, 51%, 1) 100%); */
  box-shadow: gray;
  background-color: transparent;
  color: #f0e4f7;
  font-size: 1.0rem;
  padding: .25rem;
}

p {
  
  font-size: 16px;
}

button {
  background-color: transparent;
  border: 1px round rgb(163, 206, 240);
  color: rgb(224, 210, 203);
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: rgb(219, 176, 176);
  background-color: rgb(163, 206, 240);
}

.container {
  /* background: linear-gradient(to right, #4ea0bc, #a43931); */
  
  margin: auto;
  max-width: 775px;
  overflow: hidden;
  text-align: center;
}

.form {
  align-items: center;
  grid-row-start: auto;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
textarea {
  
  color: silver;
}
.form input {
  margin: auto;
  display: block;
  width: 50%;
  height: 12px;
  margin: 12px;
  padding: 15px 15px;
  font-size: 12px;
  
}


