@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1 {
  text-align: left;
}

body {
  /* background-image: url('./Images/fourpaintings.jpg'); */
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;

}

label {
  margin: auto;
  align-items: center; 
}
html {
  max-width: contain;
  max-height: fill;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid rgb(175, 41, 153);
  color: rgb(167, 70, 180);
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  max-height: 100%;
  padding: 0.5rem 0.rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0;
  max-width: fill;
  text-align: center;
}

.form {
  size: fit-content;
  align-items: center;
  width: 100%;
  height: fill;
  color: hotpink;
  scrollbar-gutter:initial;
  flex-direction:column;
  justify-content:space-around;
  gap: .5rem;
}

.form input {
  display: flex;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
} */

.app .rich-editor {
  padding: 10rem;
 }
.rich-editor .rdw-editor-main {
  background-color: transparent;
 }
.rich-editor .DraftEditor-editorContainer {
  width: contain;
  padding: 1rem;
 }
.draft-editor-wrapper {
  border: 2px solid #ccc;
}
.html-view {

  background-color: transparent;
  color: #000;
  margin: auto;
  width: 90%;
  margin-bottom: 2rem;
 }
h4 {
 color: #fff;
}