.lkAaGf {
    position: relative;
    border: 0.1rem solid rgb(51, 51, 51);
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out 0s;
    cursor: pointer;
    border-radius: 0.3rem;
}

.lkAaGf>select {
    display: none;
}

.lkAaGf>div>a {
    display: flex;
}

.lkAaGf.open {
    background-color: rgb(31, 31, 31);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.lkAaGf a,
.lkAaGf p {
    text-transform: none;
    text-decoration: none !important;
    font-weight: 300 !important;
}

.gAvCwk {
    flex: 1 1 0%;
    margin: 0px;
    padding: 0.6rem 0.2rem 0.6rem 1.2rem;
    color: rgb(255, 255, 255);
}

.gAvCwk.no-arrow {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.iCYBDB {
    display: inline;
    padding: 0.6rem 1.2rem;
}

.iCYBDB span {
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(239, 19, 29);
}

.eXyQLv {
    line-height: 1;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    margin: -0.2rem 0px 0px;
    vertical-align: middle;
    border-radius: 0.15rem;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 0.3rem 0px;
}

.ykSdq {
    text-align: left;
}

.iyuZkc {
    width: 100%;
    height: 100%;
    display: flex;
}

.jPPmvc {
    width: 100%;
    margin: 0px auto;
    height: 100%;
    text-transform: uppercase;
}

.jPPmvc a {
    font-weight: 600;
    letter-spacing: 0.1em;
    color: rgb(255, 255, 255);
}

.jPPmvc a:hover,
.jPPmvc a.active {
    color: rgb(239, 19, 29);
}

.jPPmvc>ul {
    margin: 0px;
    display: flex;
}

.jPPmvc>ul>li {
    display: inline-block;
    position: relative;
    margin: 0px;
}

.cwkEEo {
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.cwkEEo li {
    height: 100%;
    padding: 0px 1rem;
}

.cwkEEo li>div {
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.cwkEEo li a {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.cwkEEo li a span {
    color: lightgrey;
    transition: color 0.2s ease-in-out 0s;
}

.cwkEEo li a:hover span {
    color: rgb(239, 19, 29);
    transition: color 0.2s ease-in-out 0s;
}

.iozCw {
    width: 16px;
    height: 16px;
    padding-left: 1px;
}

.iozCw svg {
    width: 0.75em;
    height: 0.75em;
    position: relative;
    top: calc(50% - 13px);
}

.ketxbr {
    width: 100%;
    max-width: 16rem;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 4rem;
    z-index: 100;
}

.iMgHsW {
    width: 100%;
}

.iMgHsW .toggle-menu {
    z-index: 11;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    height: 3.2rem;
    color: rgb(255, 255, 255);
    font-size: 3.4rem;
    position: absolute;
    line-height: 1;
}

.kZSRHk {
    padding: 2rem;
    transition: padding 0.2s ease-in-out 0s;
}

.kZSRHk a {
    display: block;
}

.kpMByw {
    width: 20rem;
}

.kpMByw img {
    margin: 0px;
    display: block;
}

@media screen and (max-width: 600px) {
    .kpMByw {
        width: 15rem;
    }
}

.bDFpby {
    text-align: center;
    padding: 1rem 0px;
    background: rgb(42, 81, 180);
    color: white;
    position: absolute;
    bottom: -50px;
    height: 50px;
    width: 100%;
    z-index: 10;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    text-transform: uppercase;
}

.bDFpby img {
    margin-bottom: 0px;
    margin-right: 5px;
}

.bDFpby a {
    color: white;
    text-decoration: underline;
}

.bDFpby a h5 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0px;
}

.kAeeno {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
}

.dTWYzH {
    display: flex;
    width: 100%;
    margin: 0px auto;
    max-width: 122rem;
    padding: 0px;
    position: relative;
}

.cJzheM {
    flex: 1 1 0%;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.jYPMAZ {
    display: block;
    flex: 1 1 0%;
    min-width: 81%;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

@media screen and (max-width: 1000px) {
    .jYPMAZ {
        display: none;
    }
}

.eCZmBY {
    display: none;
}

@media screen and (max-width: 1000px) {
    .eCZmBY {
        display: block;
    }
}

html {
    max-width: 100%;
    overflow-x: hidden;
    background-color: rgb(15, 15, 15);
    box-sizing: border-box;
    font-size: 62.5%;
    transition: background-color 0.3s ease-in-out 0s;
}

@media screen and (min-width: 2000px) {
    html {
        font-size: 71.25%;
    }
}

@media screen and (min-width: 2400px) {
    html {
        font-size: 80%;
    }
}

@media screen and (min-width: 2800px) {
    html {
        font-size: 88.75%;
    }
}

@media screen and (min-width: 3200px) {
    html {
        font-size: 97.5%;
    }
}

@media screen and (min-width: 3600px) {
    html {
        font-size: 106.25%;
    }
}

@media screen and (min-width: 4000px) {
    html {
        font-size: 115%;
    }
}

@media screen and (min-width: 4400px) {
    html {
        font-size: 123.75%;
    }
}

@media screen and (min-width: 4800px) {
    html {
        font-size: 132.5%;
    }
}

@media screen and (min-width: 5200px) {
    html {
        font-size: 141.25%;
    }
}

@media screen and (min-width: 5600px) {
    html {
        font-size: 150%;
    }
}

html,
body {
    overflow: hidden;
}

*,
::before,
::after {
    box-sizing: inherit;
}

hr {
    height: 0.1rem;
    color: rgb(51, 51, 51);
    background-color: rgb(51, 51, 51);
    border: none;
}

body,
.title-text {
    color: rgb(255, 255, 255);
    transition: color 0.3s ease-in-out 0s;
}

.sub-title-text,
small {
    color: rgb(175, 175, 175);
    transition: color 0.3s ease-in-out 0s;
}

body {
    margin: 0px;
    background-color: rgb(15, 15, 15);
    transition: background-color 0.3s ease-in-out 0s;
    min-height: 100vh;
}

ul,
ol {
    list-style-position: inside;
    margin-left: 0px;
    padding: 0px;
}

a {
    color: rgb(239, 19, 29);
    transition: color 0.2s ease-in-out 0s;
    text-decoration: none;
}

a:hover {
    color: rgb(250, 92, 100);
    background-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 2.4rem;
    }

    h2 {
        font-size: 2.2rem;
    }
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

.text-align-justify {
    text-align: justify;
}

.text-transform-uppercase {
    text-transform: uppercase;
}

.text-transform-lowercase {
    text-transform: lowercase;
}

.text-transform-capitalize {
    text-transform: capitalize;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.padding-top-0 {
    padding-top: 0rem;
}

.margin-top-0 {
    margin-top: 0rem;
}

.padding-right-0 {
    padding-right: 0rem;
}

.margin-right-0 {
    margin-right: 0rem;
}

.padding-bottom-0 {
    padding-bottom: 0rem;
}

.margin-bottom-0 {
    margin-bottom: 0rem;
}

.padding-left-0 {
    padding-left: 0rem;
}

.margin-left-0 {
    margin-left: 0rem;
}

.padding-top-1 {
    padding-top: 1rem;
}

.margin-top-1 {
    margin-top: 1rem;
}

.padding-right-1 {
    padding-right: 1rem;
}

.margin-right-1 {
    margin-right: 1rem;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.padding-left-1 {
    padding-left: 1rem;
}

.margin-left-1 {
    margin-left: 1rem;
}

.padding-top-2 {
    padding-top: 2rem;
}

.margin-top-2 {
    margin-top: 2rem;
}

.padding-right-2 {
    padding-right: 2rem;
}

.margin-right-2 {
    margin-right: 2rem;
}

.padding-bottom-2 {
    padding-bottom: 2rem;
}

.margin-bottom-2 {
    margin-bottom: 2rem;
}

.padding-left-2 {
    padding-left: 2rem;
}

.margin-left-2 {
    margin-left: 2rem;
}

.padding-top-3 {
    padding-top: 3rem;
}

.margin-top-3 {
    margin-top: 3rem;
}

.padding-right-3 {
    padding-right: 3rem;
}

.margin-right-3 {
    margin-right: 3rem;
}

.padding-bottom-3 {
    padding-bottom: 3rem;
}

.margin-bottom-3 {
    margin-bottom: 3rem;
}

.padding-left-3 {
    padding-left: 3rem;
}

.margin-left-3 {
    margin-left: 3rem;
}

.padding-top-4 {
    padding-top: 4rem;
}

.margin-top-4 {
    margin-top: 4rem;
}

.padding-right-4 {
    padding-right: 4rem;
}

.margin-right-4 {
    margin-right: 4rem;
}

.padding-bottom-4 {
    padding-bottom: 4rem;
}

.margin-bottom-4 {
    margin-bottom: 4rem;
}

.padding-left-4 {
    padding-left: 4rem;
}

.margin-left-4 {
    margin-left: 4rem;
}

.padding-top-5 {
    padding-top: 5rem;
}

.margin-top-5 {
    margin-top: 5rem;
}

.padding-right-5 {
    padding-right: 5rem;
}

.margin-right-5 {
    margin-right: 5rem;
}

.padding-bottom-5 {
    padding-bottom: 5rem;
}

.margin-bottom-5 {
    margin-bottom: 5rem;
}

.padding-left-5 {
    padding-left: 5rem;
}

.margin-left-5 {
    margin-left: 5rem;
}

.max-width-100 {
    max-width: 100%;
}

.hHmYI {
    position: relative;
    z-index: 1;
    margin: 0px auto;
    width: 100%;
    max-width: 122rem;
    padding: 0px 2rem;
    opacity: 1;
    transition: opacity 0.5s ease-in-out 0s;
}

.hHmYI.page-content-enter {
    opacity: 0;
}

.hHmYI.page-content-enter-active,
.hHmYI.page-content-leave {
    opacity: 1;
}

.hHmYI.page-content-leave-active {
    opacity: 0;
}

.byWXrj {
    position: relative;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    background: rgb(31, 31, 31);
}

.lcuFqm {
    position: fixed;
    inset: 0px;
}

.lcuFqm iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
}

.jjbSxb>span>div.ui-enter {
    transform: translateY(100%);
}

.jjbSxb>span>div.ui-enter-active {
    transition: transform 0.3s ease-in-out 0s;
    transform: translateY(0px);
}

.jjbSxb>span>div.ui-leave {
    transform: translateY(0px);
}

.jjbSxb>span>div.ui-leave-active {
    transition: transform 0.3s ease-in-out 0s;
    transform: translateY(100%);
}

.ewzoVA {
    position: absolute;
    padding-bottom: 2rem;
    right: 3rem;
    bottom: 0px;
}

.ewzoVA a {
    display: block;
    width: 6rem;
    height: 6rem;
    padding: 3rem;
    font-size: 3rem;
    border-radius: 3rem;
    color: rgb(175, 175, 175);
    border: 0.1rem solid rgb(175, 175, 175);
    background-color: transparent;
    position: relative;
    line-height: 1;
    margin-top: 2rem;
}

.ewzoVA a>div {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 6rem;
    height: 6rem;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: rgb(239, 19, 29) 0px 0px 1rem 0.6rem;
    animation: 2.8s ease-in-out 0s infinite normal none running irLXag;
    transform: scale(1) translate(-50%, -50%);
    transform-origin: 0px 0px;
}

.ewzoVA a>svg {
    transform: translate(-50%, -50%);
}

.dbsROy {
    position: absolute;
    padding-bottom: 2rem;
    right: 3rem;
    bottom: 0px;
}

.dbsROy a {
    display: block;
    width: 6rem;
    height: 6rem;
    padding: 3rem;
    font-size: 3rem;
    border-radius: 3rem;
    color: rgb(175, 175, 175);
    border: 0.1rem solid rgb(175, 175, 175);
    background-color: transparent;
    position: relative;
    line-height: 1;
    margin-top: 2rem;
}

.dbsROy a>div {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 6rem;
    height: 6rem;
    padding: 3rem;
    border-radius: 3rem;
    box-shadow: rgb(239, 19, 29) 0px 0px 1rem 0.6rem;
    animation: 2.8s ease-in-out 0s infinite normal none running ksavYQ;
    transform: scale(1) translate(-50%, -50%);
    transform-origin: 0px 0px;
}

.dbsROy a>svg {
    transform: translate(-50%, -50%);
}

@-webkit-keyframes irLXag {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes irLXag {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

.byDvdX {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
}

.byDvdX>div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 8rem;
    height: 8rem;
    margin: 1rem;
    border-width: 1rem;
    border-style: solid;
    border-image: initial;
    border-radius: 50%;
    animation: 1.2s cubic-bezier(0.5, 0, 0.5, 1) 0s infinite normal none running fEWCgj;
    border-color: rgb(239, 19, 29) transparent transparent;
}

.byDvdX>div:nth-child(1) {
    animation-delay: -0.45s;
}

.byDvdX>div:nth-child(2) {
    animation-delay: -0.3s;
}

.byDvdX>div:nth-child(3) {
    animation-delay: -0.15s;
}

.gxsIig {
    position: absolute;
    inset: 0px;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0.1s;
}

.gxsIih {
    position: absolute;
    inset: 0px;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.1s;
}

.jvPICa {
    height: 100vh;
    width: 100%;
    min-width: 0rem;
}

.jvPICa.under-nav {
    padding-top: 9rem;
}

@media screen and (max-width: 600px) {
    .jvPICa.under-nav {
        padding-top: 7.8rem;
    }
}

.lmuzWY {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@-webkit-keyframes ksavYQ {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@keyframes ksavYQ {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

@-webkit-keyframes fEWCgj {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fEWCgj {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}